<!DOCTYPE html>

<head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
        Acerca de mi
	</title>
    
	<link rel="stylesheet" href="../assets/styles/main.css">
</head>

<body>
    <h2>
        Sobre mi
    </h2>
    <br>

    <p>
        Sobre mi
    </p>

        <blockquote cite="https://www.google.com/"> 
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Cumque dolor voluptate praesentium eum necessitatibus minus
            et suscipit tempora quia fugiat temporibus, dolorem ut
            vero commodi nesciunt nam laudantium saepe. Sapiente?
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Dolorem iusto suscipit a inventore illum quo eos velit unde
            perspiciatis sunt explicabo, nam sapiente quos esse. Repellendus
            distinctio asperiores rem iusto.
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis
            quibusdam voluptatum adipisci! Laboriosam eos quod exercitationem 
            facilis iure at atque hic. Nam eveniet temporibus voluptas 
            error nisi accusamus animi atque!
        </blockquote>

        <img id="cover" src="../assets/img/naranja.jpg" alt="Imagen de una naranja" title="Naranja fresca">
        
        <br>

        <a href="../assets/img/imagen-cv.jpg" download="descargar cv">
            <img src="../assets/img/imagen-cv.jpg" alt="descargar cv"/>
        </a>
        <br>

        <a href="../index.html">
            Regresar al home
        </a>

        <pre>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad soluta
                debitis ipsa, quisquam delectus exercitationem maxime sed cum excepturi 
                    earum molestias placeat saepe minus magnam iste doloremque veritatis ut eaque.

            <code>
                o * n = bgt
                <h2>&#9829; </h2>
                <h2>&#128507;</h2>
                            
            </code>
        </pre>

        <div class="container">
            
            <div class="nav_grid">
                1
            </div>
            <div class="content_grid">
                2
            </div>
            <div class="sidebar_grid">
                3
            </div>
            <div>4</div>
            <div>5</div>
            <div>6</div>
            <div>7</div>
            <div class="footer_grid">8</div>
        </div>

</body>

</html>
