h1{
    font-family: driftline;
    background-color: blueviolet;

    text-shadow: 2px 2px black;

}

p{
    font-family: tena;
    background-color: coral;

    text-align: center;

    text-decoration: underline;

    text-transform: uppercase;
}

p:hover{
	background-color: cyan;
}

.lista-1 li:first-child{
    color: brown;
}

.lista-peliculas li:last-child{
    color: chartreuse;
}

@font-face {
    font-family: driftline;
    src: url('../fonts/driftline/Driftline.ttf');
}

@font-face {
    font-family: tena;
    src: url('../fonts/super_trend/Super\ Trend.ttf');
}